<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pad_go.loka"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
"
    <application
        android:name="com.lbs.guoke.GuoKeApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.lbs.guoke.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lbs.guoke.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name="com.lbs.guoke.AddSiteActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.lbs.guoke.AddRemindActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.lbs.guoke.AlertDialogActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|locale|fontScale"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" >
        </activity>
        <activity android:name="com.lbs.guoke.tempDialogActivity" >
        </activity>

        <provider
            android:name="com.lbs.guoke.db.DBContentProvider"
            android:authorities="com.lbs.guoke.db.provider" />

        <service
            android:name="com.lbs.guoke.controller.LoKaService"
            android:enabled="true"
            android:process="com.pad_go.loka.system" >
        </service>

        <receiver android:name="com.lbs.guoke.controller.CellInfoBroadCast" >
            <intent-filter>
                <action android:name="com.lbs.guoke.cellinfo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>